.slide-1 {
   &__image {
      position: absolute;
      left: 0;
      width: 50%;
      height: 100%;
      img {
         position: absolute;
         top: 25%;
         right: 0;
      }

      @include breakpoint-down(small) {
         position: absolute;
         left: 0;
         width: 100vw;
         img {
            position: absolute;
            top: 8%;
            right: 50%;
            transform: translateX(50%);
            width: 220px;
            z-index: 1;
         }
      }
   }

   &__content {
      position: absolute;
      left: 50%;
      width: 50%;
      height: 100%;
      background-color: $wet-asphalt;
      color: #fff;
      padding: 128px 0;

      h1,
      h2,
      p {
         margin: 0 80px;
      }

      h1 {
         margin-bottom: 28px;
         text-align: right;
      }

      h2 {
         margin-bottom: 28px;
         font-weight: 400;
         width: 60%;
      }

      @include breakpoint-down(medium) {
         min-height: 550px;
         padding: 60px 0;

         h1,
         h2,
         p {
            margin-right: 40px;
            margin-left: 40px;
         }
      }

      @include breakpoint-down(small) {
         position: absolute;
         top: 30%;
         left: 0;
         width: 100vw;
         height: 30%;
         padding: 60px 0;

         h1,
         h2,
         p {
            margin-right: 20px;
            margin-left: 20px;
            text-align: center;
         }

         h2 {
            width: 90%;
         }

         p {
            line-height: 22px;
         }
      }
   }
}
