.slide-8 {
   img.logo-halved {
      position: absolute;
      top: -0.5%;
      left: -0.5%;
   }

   @include breakpoint-down(medium) {
      width: 90%;
      height: 100%;

      img.logo-halved {
         width: 30%;
      }
   }

   @include breakpoint-down(small) {
      width: 100%;
      height: 100%;

      img.logo-halved {
         width: auto;
      }
   }

   &__image {
      img {
         position: absolute;
         top: 19%;
         right: 5%;
         width: 120px;
         z-index: -1;
      }

      @include breakpoint-down(medium) {
         img {
            top: 20%;
         }
      }

      @include breakpoint-down(small) {
         position: relative;
         top: 5.5%;

         img {
            position: relative;
            bottom: 0%;
            left: 50%;
            transform: translateX(-50%);
            width: 220px;
            z-index: 1;
         }
      }
   }

   &__title {
      padding-top: 94px;

      h2 {
         text-align: center;
         font-weight: 400;
         margin-bottom: 18px;
      }

      @include breakpoint-down(small) {
         padding-top: 110px;

         h2 {
            padding: 0 20px;
         }
      }
   }

   &__content {
      p {
         margin: 0;
         padding: 0;
      }

      @include breakpoint-down(medium) {
         flex-flow: wrap;
      }

      .card {
         button {
            width: 35%;
            border: none;
            outline: none;
            background-color: $wet-asphalt;
            padding: 3px;
            margin-top: 5px;
            font-family: "PT Sans", sans-serif;
            color: #fff;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;

            &:hover {
               background-color: $mint;
            }
         }

         &:first-child {
            position: relative;

            img {
               position: relative;
               left: 50%;
               transform: translateX(-50%);
            }

            form {
               position: absolute;
               left: 13%;
               top: 30px;

               input {
                  position: relative;
                  width: 80%;
                  outline: none;
                  border: 1.5px solid $wet-asphalt;
                  font-family: "PT Sans", sans-serif;
                  color: $wet-asphalt;
               }

               button {
                  position: relative;
                  width: 80%;
               }
            }

            p {
               position: absolute;
               font-size: 14px;
            }

            p#counter {
               top: 64%;
               left: 50%;
               transform: translateX(-50%);
               font-size: 32px;
               font-weight: bold;
            }

            p#quote {
               top: 28%;
               left: 6%;
               width: 90%;
            }

            p#message {
               top: 52%;
               left: 20%;
               width: 80%;
               color: $mint;
            }

            // Styles for the add and delete buttons
            button {
               position: absolute;
               top: 78%;

               &:nth-child(3) {
                  left: 10%;
               }
               &:nth-child(4) {
                  left: 52%;
               }
            }

            @include breakpoint-up(medium) {
               margin-right: 80px;
            }
         }

         &:last-child {
            width: 300px;
            padding: 0 10px;
            margin: auto 0;

            p:first-child {
               margin-bottom: 20px;
            }

            @include breakpoint-down(small) {
               order: 1;
               text-align: center;
            }
         }

         @include breakpoint-down(small) {
            order: 2;
         }
      }

      @include breakpoint-down(small) {
         margin-bottom: 20px;
         img {
            width: 120%;
         }

         p:last-child {
            padding-bottom: 20px;
         }
      }
   }
}
