// Colors
$mint: #41b783;
$wet-asphalt: #34495e;
$signal-black: #041213;
$aero-blue: #bdf3d8;

// Font sizes - small, large, extra large
$font-sm: 1rem; // 16px
$font-lg: 2rem; // 32px
$font-xl: 2.5rem; // 40px
